body {
    margin: 0;
}

.button {  
    text-align: center;
      background-color: rgb(22, 6, 71);
      border-radius: 20px;
      color: aliceblue;
     padding: 3px 20px;
     margin: 20px 0px;
     display: inline-block;
    }
    a {
        text-decoration: none;
    }
    .text-uppercase {
        text-transform: uppercase;
        color: blueviolet;
    }
    input {
        margin-top: 6px;
    }
    .bg-mynav {
        background-color: rgb(64, 196, 232);
    }
    .connor {
        border-radius: 40px 40px;
    }
    .mycircle {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        padding: 10px;
        
        background-color: rgba(252, 252, 252, 0.82);
        margin: auto;

    }
    .member {
        background-color: #7630bc;
        padding: 50px 0px;
    
      }
    
      .members-boxs {
        width: 1100px;
        margin: auto;
    
        background-color: #66c1cb;
        padding: 1px 40px 40px;
        box-shadow: 0px 0px 5px 0px #7630bc; 
        border-radius: 5px;
      }
