body {
    margin: 0;
}

.button {  
    text-align: center;
      background-color: rgb(22, 6, 71);
      border-radius: 20px;
      color: aliceblue;
     padding: 3px 20px;
     margin: 20px 0px;
     display: inline-block;
    }
    a {
        text-decoration: none;
    }
    .text-uppercase {
        text-transform: uppercase;
        color: blueviolet;
    }
    input {
        margin-top: 6px;
    }
    .bg-mynav {
        background-color: rgb(31, 144, 154);
    }
