@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    background-color: #A9BBF4;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*start Header */

header {
    background-color:#112C83 ;

} 
nav {
   /* border: 3px solid #e9fa00;  */
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo {
    /* border: 3px solid #bb1cc0; */
    width: 300px;
    display: flex;
    align-items: center;
    margin: auto 10px;
    
}
.text-h1 {
    margin-left: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
}

.menu {
    /* border: 3px solid #49b816; */
    width: 300px;
    display: flex;
     list-style: none;
    

}

li {
    margin-right: 20px;

}

a {
    text-decoration: none;
    color: white;
}


/* End Header */
/* start Main-content */
.main-content {
    margin: auto;
    width: 1000px;
}

.box {
   background-color: white;
   padding: 20px;
   margin: 30px 0px;
}
 .button {
     color: white;
     background-color: #112C83;
     padding: 8px 24px;
     border-radius: 30px;
     display: inline-block;
 }
 .image {
    width: 100%;

 }
 /*  End Main-content */
 /*  start footer */
footer {
    background-color: #112C83;
    color: rgb(255, 255, 255);
    text-align:center;
    padding: 0;
}